# Logs
logs
*.log
.pnpm-debug.log*

# Dependency directories
node_modules/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Jest
/coverage/

# Mac
.DS_Store

# Vite

/dist/
